@charset "utf-8";

.contents {
  min-width: 500px;
  color: #1b244b;
  display: flex;
  flex-direction: column;
  .detail {
    flex: 1;
    section {
      padding: 25px;
      h1 {
        margin: 0 0 15px 0;
        flex: 1;
        text-align: center;
        letter-spacing: 8px;
        font-weight: 400;
      }
    }
  }
}
