@charset "utf-8";

$image-path: ~contents/profile/social/img/;

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 0 0;
  p {
    margin: 0 0 .2em 7px;
  }
  .social-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px 10px 0;
    &:last-child {
      margin: 0;
    }
    $icon-size: 25;
    .social-icon {
      text-align: center;
      vertical-align: middle;
      color: rgba(255, 255, 255, 0.7);
      height: $(icon-size)px;
      width: $(icon-size)px;
      transition: all .2s ease-out;
      &:before {
        font-size: $(icon-size)px
      }
    }
    &:hover {
      .social-icon {
        color: rgba(255, 255, 255, 1);
        transition: all .2s ease-out;
        transform: scale(1.15);
      }
    }
  }
  .hatena {
    background: url("$(image-path)/hatena.svg") no-repeat center center;
    background-size: contain;
  }
  .hatena-blog {
    background: url("$(image-path)/hatenablog-logo.svg") no-repeat center center;
    background-size: 130%;
  }
  .qiita {
    background: url("$(image-path)/qiita-favicon.png") no-repeat center center;
    background-size: 95%;
  }
}
