* {
  font-feature-settings: 'palt';
}

html,
body,
.target,
.wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0;
}

body {
  font-family: usual, 'Yu Gothic', sans-serif, 'Dosis', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
  font-size: 13pt;
  color: var(--color-black);
}

a {
  color: #007acc;
  text-decoration: none;
}

:root {
  --color-black: #545454;
  --color-border: rgb(211, 212, 228);
}

@keyframes blink {
  from {
    opacity: 1;
  }
}
