@charset "utf-8";

.about {
  color: #FFF;
  background: #1b244b;
  .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      text-align: center;
    }
  }
}
