@charset "utf-8";

:local .contact {
  background-color: #222;
  color: #fef5f3;
  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    .mail {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1.5em 0 0 0;
      padding: 0 1.5em;
      height: 3em;
      border: 2px solid #fff;
      color: #FFF;
      border-radius: 3px;
      transition: all .3s ease-in-out;
      p {
        transition: transform .3s ease-in-out;
        $space: .35em;
        letter-spacing: $space;
        margin: 0 0 0 $space ;
      }
      &:before {
        left: 0;
        top: -2px;
      }
      &:after {
        bottom: -2px;
        right: 0;
      }
      &:before, &:after {
        width: 0%;
        height: 2px;
        position: absolute;
        background: #e5c100;
        transition: width .4s ease-in-out;
        content: "";
      }
      &:hover {
        border-color: #e5c100;
        p {
          transition: transform .3s ease-in-out;
          transform: translate(10%, 0);
        }
        &:before, &:after {
          width: 100%;
        }
      }
    }
  }
}
